<h1>New Post for <%= @place.name %></h1>

<form action="/places/<%= @place.id %>/entries" method="post">
  <p>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
  </p>
  <p>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
  </p>
  <p>
    <label for="occurred_on">Date:</label>
    <input type="date" id="occurred_on" name="occurred_on">
  </p>
  <button>Submit</button>
</form>

<p><a href="/places/<%= @place.id %>">Back to <%= @place.name %></a></p>
