<h1>Places I've been</h1>

<ul>
  <% for place in @places %>
    <li> 
      <a href="/places/<%=place.id%>"> <%= place.name %> </a>    
    </li>
  <% end %>
</ul>

<p> . </p>

<a href="/places/new">Add New Place</a>