<h1>Add a new place</h1>

<form action="/places" method="post">
  <label for="inputted_place">Place name:</label>
  <input type="text" id="inputted_place" name="inputted_place">
  <button>Submit</button>
</form>

<p> . </p>

<a href="/places/">Cancel</a>
